<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <servlet>
        <servlet-name>MyServlet</servlet-name>
        <servlet-class>com.example.nesrine.myapplication.backend.MyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyServlet</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LivresServlet</servlet-name>
        <servlet-class>Servlet.GetLivresServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LivresServlet</servlet-name>
        <url-pattern>/getAllLivres</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LivreByTitreServlet</servlet-name>
        <servlet-class>Servlet.GetLivreByTitre</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LivreByTitreServlet</servlet-name>
        <url-pattern>/getLivreByTitre</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LivresByCategorieServlet</servlet-name>
        <servlet-class>Servlet.GetLivresByCategorie</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LivresByCategorieServlet</servlet-name>
        <url-pattern>/getLivresByCategorie</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginUserServlet</servlet-name>
        <servlet-class>Servlet.GetLoginUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginUserServlet</servlet-name>
        <url-pattern>/getLoginUser</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>NbLivresCategorieServlet</servlet-name>
        <servlet-class>Servlet.GetNbLivresCategorie</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NbLivresCategorieServlet</servlet-name>
        <url-pattern>/getNbLivresCategorie</url-pattern>
    </servlet-mapping>


    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>